.bm-menu{
	display: none;
	opacity: 0;

	position: fixed;

	top: 300px;
	left: 300px;

	width: 192px;

	background: rgba(255, 255, 255, 0.97);

	border-radius: 4px;

	box-shadow: 0px 1px 4px #999;

	padding-top: 5px;
	padding-bottom: 5px;

}
.bm-menu-click:hover{
	background: darkred;
	color: white;
}
.bm-menu-click{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.bm-menu-lock{
	color: #bbb;
}

.bm-menu-item:hover{

}
.bm-menu-item:nth-child(1){
	border-top: 1px solid #eee;
}
.bm-menu-item{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;

	font-family: Arial, 'Hiragino Sans GB', DengXian, "微软雅黑", 'WenQuanYi Microhei', 'Microsoft yahei light', 黑体;
	font-size: small;

	border: 0;
	border-bottom: 1px solid #eee;

	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;

	cursor: context-menu;
}

.bm-menu-column{
	display: flex;

	justify-content: space-around;
	align-items: center;
}
.bm-menu-column .bm-menu-item{
	border: 0;
}
